<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogiLockLED.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <LogiLockLED.Properties.Settings>
            <setting name="EnableCaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CapsOnColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="CapsOffColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="NumOnColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="NumOffColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="EnableNum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollOnColour" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ScrollOffColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="EnableKeyLockLEDs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OsdFont" serializeAs="String">
                <value>Arial, 48pt, style=Bold, Italic</value>
            </setting>
            <setting name="OsdPosition" serializeAs="String">
                <value>Centre</value>
            </setting>
            <setting name="OsdPadding" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OsdMargin" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OsdRoundedCorners" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OsdEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OsdTextColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="OsdBackColour" serializeAs="String">
                <value>3, 3, 3</value>
            </setting>
            <setting name="OsdOpacity" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="OsdDuration" serializeAs="String">
                <value>1000</value>
            </setting>
        </LogiLockLED.Properties.Settings>
    </userSettings>
</configuration>